body{overflow:hidden;}


@font-face {
  font-family: khangxi;
  src: url(fonts/TpldKhangXiDictTrial.otf) format("truetype");
}


@font-face {
  font-family: GutiFansong;
  src: url(fonts/Wyue-GutiFangsong-NC_deliverable.otf);
}

.sutratext {font-size:200%;font-family: GutiFansong}
.lecturetext {font-size:175%}
.markupdesc {font-size:175%}
.markupbutton {font-size:175%}
.panel {background-color:rgba(0, 0, 0, 0)} /* overwrite bootstrap , otherwise markup cannot be shown */
.kepanview  {font-size:150%;}
.dictionarytext  {font-size:150%;}
.dictview {font-size:150%;}
.tocitem {font-size:100%;}
.tocpanel {overflow-y:auto;height:97%;}
.markuppanel {}
.textpanel {overflow-y:auto;height:100%;}
.dictpanel {overflow-y:auto;height:97%;}
.stacktoc .current {font-weight:bold;}

.markuplayer {
	width:100%;
	height:100%;
	position:absolute;top:0;left:0;
	z-index:-2000;
	background-color:rgba(0,0,0,0);
	pointer-events:none;
}
.traitpanel {font-size:150%;}
.dropdown  {font-size:150%;}
.dropdown-menu {font-size:100%;}
.tagsetlabel {cursor:pointer;font-size:150%;}
.tagsetlabel.disabled {color:silver;}
span.selected {background:highlight}
span.highlighted {background:#FFFFC2}
span.editing {background:yellow}

.dictentry {font-size:150%;color:brown;}
