.sutratext {font-size:200%;font-family: DFKai-SB}
.lecturetext {font-size:175%}
.kepanview  {font-size:150%;}
.dictview {font-size:150%;}
.tocitem {font-size:100%;}
.tocpanel {overflow-y:auto;height:100%;}
.textpanel {overflow-y:auto;height:100%;}
.dictpanel {overflow-y:auto;height:100%;}
.stacktoc .current {background:yellow;}


.markuplayer {
	width:100%;
	height:100%;
	position:absolute;top:0;left:0;
	z-index:-2000;
	background-color:rgba(0,0,0,0);
	pointer-events:none;
}